#generated except source/configuration files
*.exe
*.ilk
*.lib
*.dll
*.pdb
*.idb
*.obj
*.pch
*.log
*.tlog
*.lastbuildstate
*.opendb
*.db
*.db-shm
*.db-wal
*.suo
*.ipch
*.enc
*.csv
*.tif

#folders
.idea